Package: me.chewitt.tinctfs
Name: tinctfs
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Version: 0.0.1
Architecture: iphoneos-arm
Description: A Simple Switch for the Flipswitch API!
Maintainer: Charlie Hewitt
Author: Charlie Hewitt
Section: Addons (Flipswitch)